body{
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}
h1{
    color: blue;
    background-color: brown;
    text-align: center;
}
div{
    color: cadetblue;
    background-color: darkblue;
}
div h2{
color: #008b4a;
text-align: center;
}
div p{
    font-size: 1.2rem;
}